<template id="mono-link-template">
    <style>
        {COMPONENTS_CSS}
    </style>
    <a href="" target="_blank" rel="noopener noreferrer" class="mono-link-container">
        <div class="mono-link-image-wrapper">
            <div class="mono-link-image"></div>
            <div class="mono-link-image-placeholder"></div>
        </div>
        <div class="mono-link-content">
            <div class="mono-link-title"></div>
            <div class="mono-link-desc"></div>
            <div class="mono-link-meta">
                <div class="mono-link-favicon"></div>
                <div class="mono-link-domain"></div>
            </div>
        </div>
    </a>
</template>
